*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


ul {
	list-style: none;
	text-align: center;
}

ul li {
	display: inline-block;
}
h3{
  text-align: center;
}
.alinear{
  text-align: center;
}

form.noticias{
	border: 1px solid;
	margin: 0px;
	padding: 0px;
	background-color: aqua;
}

input.enviar{
	position: relative;
	width: 100px;
	height: 50px;
	left: 40%;
	top: 50%;
}




input#nacimiento{
	text-align: center;
}
